<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beethoven</title>
    <link rel="stylesheet" href="../stylesheets/btWindow.min.css" type="text/css">
    <script>window.$ = window.jQuery = require('jQuery');</script>
    <script src="../scripts/speechkitt.js"></script>
    <script src="../scripts/btWindow.js"></script>
  </head>
  <body class="offline">
    <div id="network-indicator">
      <div class="message">BrainTrust Currently Unreachable.</div>
    </div>
  </body>
</html>
